# Folders to ignore
data/
wandb/
results/
lightning_logs/
jobs/
hydra_output/
artifacts/
outputs/


# Ignore all __pycache__ directories
__pycache__/

# Ignore all .pyc files
*.pyc

# Ignore all .pyo files (compiled Python files for optimized mode)
*.pyo

*.txt
